.table-container {
   height: 100%;
   width: 100%;
   overflow: hidden;
}

table {
   width: 100%;
}

thead {
   height: 8vh;
}

tr {
   text-align: center;
}

th {
   font-weight: 300;
   font-size: 14px;
   border-bottom: 1px solid #f4f6f9;
}

td {
   height: 4vh;
   font-weight: 200;
   font-size: 14px;
   color: rgb(151, 151, 151);
   border-bottom: 1px solid #f4f6f9;
}

tbody tr {
   height: 3vh;
   padding: 1vh 2vw;
}
